@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", monospace;
  --color-background: #000000;
  --color-foreground: #ffffff;
}

:root {
  font-family: var(--font-mono);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-foreground);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.hero-bg {
  position: relative;
  background-color: #000000;
}
